{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur Tchan's Recipes</h1>
    <p>Vous trouverez ici toutes les recettes de Tchan</p>
    <!-- Se connecter -->
    <a href="{{ path('app_sign_in') }}">Se connecter</a>
    <!-- S'enregistrer -->
    <a href="{{ path('app_register') }}">S'enregistrer</a>
{% endblock %}
